h1{
    text-align: center;
    border: 3px solid green;
}
.title{
    text-align: center;
}
.group{
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid black;
    border-radius: 25px;
}
.todo{
    border: 2px solid rgb(0, 204, 0);
    border-radius: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.child{
    margin-left: 10px;
}
.centered{
    text-align: center;
}
.left{
    text-align: left;
}
ul{
    margin: 0;
    margin-bottom: 0;
}