<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="static/css/appStyles.css" type="text/css"/>
        <script src="static/js/script.js"></script>
        <script>
            // broken in memory storage of todos
            var loaded = {}
            $(document).ready(function(){
                // for each group loaded into the array of groups
                $.ajax({
                    method: "GET",
                    url: "/api/todos/getAll",
                    dataType: "json",
                    success: function(result,status){
                        // receives a list of Todo Objects
                        //makeGroup();
                        loaded = JSON.parse(JSON.stringify(result))
                        makeGrid(result["count"],"grid",result)
                        $("#loading").hide("slow");
                        $(".edit").on("click", edit);
                        $(".check").on("click", check)
                    }
                });
                // Immediate-Invoked Function Expresssion
                (async function(){
                    $("#inputTodo").html(await promptNewTodo())
                    $(".prompt").on("submit", function(e){
                        submitForm.call(this,e)
                    })
                    $(".cancel").on("click", cancel)
                })();
            });
        </script>
    </head>
    <body>
        <h1>Prototype:</h1>
        <div class="d-flex container-fluid justify-content-center" id="inputTodo">
        </div>
        <div class="container-fluid" id="grid">
        </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" id="loading">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </body>
</html>